*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Varela Round', sans-serif;
}
:root{
  --mainColor1:#5089C6;
  --mainColor2: #035397;
} 
body{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background:  #f8f8f8;
}
.container{
  width: 100%;
  display: flex;
  max-width: 850px;
  background: #fff;
  border-radius: 15px;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
}
.login{
  width: 400px;
}
form{
  width: 350px;
  margin: 60px auto;
}
h1{
  margin: 20px;
  text-align: center;
  font-weight: bolder;
  text-transform: uppercase;
}

p{
  text-align: center;
  margin: 10px;
}
hr{
  border-top: 2px solid  var(--mainColor1);
}

.pic img{
  width: 450px;
  height: 450px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

form label{
  display: block;
  font-size: 16px;
  font-weight: 600;
  padding: 5px;
}
input{
  width: 100%;
  margin: 2px;
  border: none;
  outline: none;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid gray;
}
button{
  border: none;
  outline: none;
  padding: 8px;
  width: 350px;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  margin-top: 20px;
  border-radius: 5px;
  background:  var(--mainColor1);
}
button:hover{
  background:  var(--mainColor1);
}
p{
  margin: 20px;
}
a{
  text-decoration: none;
}

button:hover {
  opacity: 0.8;
}

h2{
  position:absolute;
top: 0;
left: 0;
width: 20%;
height: 20%;
}
